<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>login.Auto_login</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>go_to_url</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>enter_username</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>submit</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>enter_password</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
