<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="909474">  <td>22/10/10 10:43:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Auto_login.enter_password()[pri:2, instance:login.Auto_login@7f0eb4b4]">enter_password</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="909474">  <td>22/10/10 10:43:28</td>   <td>-250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Auto_login.enter_username()[pri:1, instance:login.Auto_login@7f0eb4b4]">enter_username</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="909474">  <td>22/10/10 10:43:20</td>   <td>-7870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Auto_login.go_to_url()[pri:0, instance:login.Auto_login@7f0eb4b4]">go_to_url</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="909474">  <td>22/10/10 10:43:28</td>   <td>133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Auto_login.submit()[pri:3, instance:login.Auto_login@7f0eb4b4]">submit</td> 
  <td>main@1510467688</td>   <td></td> </tr>
</table>
